body{
  
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 h1{
    text-align: center;
}

h2 {
    text-align: center;
}

main{
    font-weight: 600%;
}

h2{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

img{
    
}

body {
    background-color: rgb(163, 163, 163);
    

}

p{
    color: b;
}


main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: rgb(0, 0, 0);
}

img{
    border-color: beige ;
}




































